.App {
  text-align: center;
}

.button{
  width: 10rem;
  height: 2.5rem;
  border-radius: 5px;
  border-color: lightgrey;
  border-style:ridge;
  padding: 5px;
  font-size: 13pt;
  }

.table-div{
  display: table;
  padding-top: 3rem;
  margin-left: 15rem;
  gap:10px;
  padding-left: 10px;  
  height: 40vh;
  width: 50vw;
  font-size: large;
}
